html, body, #body_container {
	margin:0;
	width:100%;
  height:100%;
	font-family: "Lato", "Helvetica","sans serif";
  font-weight:100;
  letter-spacing: 2px;
	text-align: left;
	color:white;
	padding:0;
  display: inline-block;



  
	/* DELETE THIS LINE TO CHANGE COLOR

  background:#333647;

  DELETE THIS LINE TO CHANGE COLOR */

  /*DELETE THIS LINE TO MAKE IMAGE BACKGROUND

  background:url("http://images.psxextreme.com/wallpapers/ps3/death_star_1244.jpg");
  
  DELETE THIS LINE TO MAKE IMAGE BACKGROUND */


  background: rgba(51,54,71,1);
  background: -moz-linear-gradient(top, rgba(51,54,71,1) 0%, rgba(65,70,99,1) 45%, rgba(81,89,133,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,54,71,1)), color-stop(45%, rgba(65,70,99,1)), color-stop(100%, rgba(81,89,133,1)));
  background: -webkit-linear-gradient(top, rgba(51,54,71,1) 0%, rgba(65,70,99,1) 45%, rgba(81,89,133,1) 100%);
  background: -o-linear-gradient(top, rgba(51,54,71,1) 0%, rgba(65,70,99,1) 45%, rgba(81,89,133,1) 100%);
  background: -ms-linear-gradient(top, rgba(51,54,71,1) 0%, rgba(65,70,99,1) 45%, rgba(81,89,133,1) 100%);
  background: linear-gradient(to bottom, rgba(51,54,71,1) 0%, rgba(65,70,99,1) 45%, rgba(81,89,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333647', endColorstr='#515985', GradientType=0 );



  z-index: 1;
}

html a {
  text-decoration: none;
  color:white;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

html a:hover {
  color:#ccc;
}

body {
  position: absolute;
}

h1 {
  font-weight: 100;
  font-size:90px;
  margin:0;
}

h2 {
  font-weight: 100;
  font-size: 35px;
}

h3 {
  font-size:40px;
  font-weight: 900;
  color:#D6602D;
  margin:0;
}

#header {
  margin:50px 0px 0px 50px;
}

#header_mini {
  text-align: center;
}

#header_mini h3 {
  font-size:28px;
  margin: 0px 25px 0px 25px;
}

#nav {
  margin:0px 0px 0px 50px;
}

#body_container {
  position: relative;
  z-index:2;
}

.card {
  max-width:600px;
  width:auto;
  height:350px;
  background:#4A4E68;

  overflow:scroll;

  float:right;


  opacity:.8;
  position: absolute;
  margin-top:220px;
  margin-left: 10%;
  margin-right: 40px;
  z-index:4;
  border-radius: 15px;

}

#closeCard {
  font-weight: 900;
  color:#D6602D;
  float:right;
  margin:0px 30px 0px 0px;
  display: block;
  font-size: 22px;
}


#aboutme {
  margin:50px 50px 0px 50px;
  font-size:24px;
  text-decoration: none;
  color:white;

}



.makeBlur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}